# Arquivos e pastas do sistema
*.log
*.tmp
*.swp
*.swo
*.server_logs.txt
# Arquivos ocultos comuns
.bash_history
.bash_logout
.bashrc
.gitconfig
.lesshst
.motd_shown
.profile
.sudo_as_admin_successful

# Caches
.cache/
